<!doctype html>
<html lang="en">

<head>
    {% include 'bootstrap/head.html' with title='Edit Profile' %}
</head>

<body class="bg-primary">

    <!-- navbar -->
    {% include "bootstrap/navbar.html" with navtype=1 home=True about=True %}

    <!-- form -->
    <div class="container" style="max-width:100vh;">
        <div class="row align-items-center" style="min-height:90vh;">
            <div class="col-12">
                <form class="row g-3 needs-validation p-4 mt-5 mb-5" style="background-color:#fff; border-radius:2em;"
                    method="post" novalidate>
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label for="id_first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="first_name" maxlength="20" required=""
                            id="id_first_name" value="{{civilian.first_name}}" autofocus>
                        <div class="invalid-feedback">
                            Please provide a valid first name.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="id_last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="last_name" maxlength="12" required=""
                            id="id_last_name" value="{{civilian.last_name}}">
                        <div class="invalid-feedback">
                            Please provide a valid last name.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="id_address" class="form-label">Address</label>
                        <textarea class="form-control" name="address" rows="4" required="" id="id_address"
                            style="resize:none;">{{civilian.address}}</textarea>
                        <div class="invalid-feedback">
                            Please provide a valid address.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="id_city" class="form-label">Nearby Police Division</label>
                        <select class="form-select" name="city" maxlength="40" required="" id="id_city"
                            value="{{civilian.city}}">
                            {% for i in division %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid division.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="id_pincode" class="form-label">Pincode</label>
                        <input type="text" class="form-control" name="pincode" min="0" required="" id="id_pincode"
                            pattern="[0-9]{6}" value="{{civilian.pincode}}">
                        <div class="invalid-feedback">
                            Please provide a valid pincode.
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="id_aadhar" class="form-label">Aadhar</label>
                        <input type="text" class="form-control" name="aadhar" required="" id="id_aadhar"
                            pattern="[0-9]{12}" value="{{civilian.aadhar}}">
                        <div class="invalid-feedback">
                            Please provide a valid aadhar number.
                        </div>
                    </div>
                    <label for="id_phone" class="form-label mb-0">Mobile</label>
                    <div class="input-group col-12">
                        <span class="input-group-text">+91</span>
                        <input type="tel" class="form-control" name="phone" min="0" required="" id="id_phone"
                            pattern="[6-9]{1}[0-9]{9}" value="{{civilian.phone}}">
                        <div class="invalid-feedback">
                            Please provide a valid mobile number.
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to <a href="{% url 'tac' %}">terms and conditions</a>
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <div class="container mt-3">
                        <div class="row text-center">
                            <div class="d-grid col-md-4">
                                <button class="btn btn-primary mb-1 rounded-pill" type="submit" onclick="check()">Update Profile</button>
                            </div>
                            <div class="d-grid col-md-4">
                                <button class="btn btn-primary mb-1 rounded-pill" type="reset">Reset</button>
                            </div>
                            <div class="d-grid col-md-4">
                                {% if fir %}
                                <a href="{% url 'report' %}" class="btn btn-primary mb-1 rounded-pill">Discard Changes</a>
                                {% else %}
                                <a href="{% url 'civilian' %}" class="btn btn-primary mb-1 rounded-pill">Discard Changes</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <p class="mt-5 mb-3 text-muted">Site under development.</p>
                    <p class="text-muted fixed-bottom pb-3">&copy; 2021–2022</p>
                    <p class="text-muted mb-2" style="position:fixed; bottom:0px; right:10px;">Made with &#10084;
                        on &#127759;.</p> -->
            </div>
        </div>
    </div>

    {% include "scripts/validate.html" %}

    {% include "scripts/js.html" %}
</body>

</html>